<?xml version="1.0" encoding="UTF-8"?>
	<widget id="com.com.lighttheremin" version="7.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cocoon="http://cocoon.io/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
		<name>Light Theremin</name>
		<description>
																																																																																																																																																																																																																		        A sample Cocoon application that responds to the deviceready event.
																																																																																																																																												    </description>
		<author email="johnnytal9@gmail.com" href="https://cocoon.io">
																																																																																																																																																																																																																		        Johnny Tal
																																																																																																																																												    </author>
		<content src="index.html"/>
		<plugin name="cordova-plugin-whitelist" version="1"/>
		<access origin="*"/>
		<allow-intent href="http://*/*"/>
		<allow-intent href="https://*/*"/>
		<allow-intent href="tel:*"/>
		<allow-intent href="sms:*"/>
		<allow-intent href="mailto:*"/>
		<allow-intent href="geo:*"/>
		<platform name="android">
			<allow-intent href="market:*"/>
			<preference name="enabled" value="true"/>
		</platform>
		<platform name="ios">
			<allow-intent href="itms:*"/>
			<allow-intent href="itms-apps:*"/>
		</platform>
		<preference name="Fullscreen" value="true"/>
		<plugin name="cordova-plugin-statusbar" spec="*"/>
		<plugin name="cordova-plugin-extension" spec="*"/>
		<plugin name="cordova-plugin-insomnia" spec="*"/>
		<plugin name="cordova-plugin-splashscreen" spec="*"/>
		<preference name="Orientation" value="portrait"/>
		<preference name="CocoonSplashDelay" value="2"/>
		<plugin name="lycwed-cordova-plugin-admobpro" spec="*">
			<variable name="" value=""/>
		</plugin>
		<plugin name="cocoon-plugin-application-android" spec="*"/>
		<preference name="android-targetSdkVersion" value="28"/>
		<preference name="android-minSdkVersion" value="16"/>
		<plugin name="cordova-plugin-lightsensor" spec="*"/>
		<icon src="512x512.png" />
		<splash src="splash.png" />
	</widget>
